.elementor-3741 .elementor-element.elementor-element-20d27c07{--display:flex;--justify-content:flex-start;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-75dd7ad0{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-562657a2 .elementor-heading-title{color:#BF9D68;font-size:60px;font-weight:700;text-transform:uppercase;}.elementor-3741 .elementor-element.elementor-element-47cc7574 .elementor-icon-wrapper{text-align:center;}.elementor-3741 .elementor-element.elementor-element-47cc7574.elementor-view-stacked .elementor-icon{background-color:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-47cc7574.elementor-view-framed .elementor-icon, .elementor-3741 .elementor-element.elementor-element-47cc7574.elementor-view-default .elementor-icon{color:#BF9D68;border-color:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-47cc7574.elementor-view-framed .elementor-icon, .elementor-3741 .elementor-element.elementor-element-47cc7574.elementor-view-default .elementor-icon svg{fill:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-47cc7574 .elementor-icon{font-size:70px;}.elementor-3741 .elementor-element.elementor-element-47cc7574 .elementor-icon svg{height:70px;}.elementor-3741 .elementor-element.elementor-element-59eca45{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-662c3168 .elementor-heading-title{color:#FFFFFF;font-size:30px;font-weight:700;text-transform:uppercase;}.elementor-3741 .elementor-element.elementor-element-30896d44{width:var( --container-widget-width, 106.607% );max-width:106.607%;--container-widget-width:106.607%;--container-widget-flex-grow:0;text-align:left;color:#A5A5A5;font-family:"Poppins", Sans-serif;font-size:18px;}.elementor-3741 .elementor-element.elementor-element-30896d44.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-3741 .elementor-element.elementor-element-78c2346e{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-1ffec42a{text-align:left;}.elementor-3741 .elementor-element.elementor-element-1ffec42a .elementor-heading-title{color:#BD9B65;font-size:35px;font-weight:700;text-transform:uppercase;}.elementor-3741 .elementor-element.elementor-element-21e164e1 .elementor-icon-wrapper{text-align:center;}.elementor-3741 .elementor-element.elementor-element-21e164e1.elementor-view-stacked .elementor-icon{background-color:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-21e164e1.elementor-view-framed .elementor-icon, .elementor-3741 .elementor-element.elementor-element-21e164e1.elementor-view-default .elementor-icon{color:#BF9D68;border-color:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-21e164e1.elementor-view-framed .elementor-icon, .elementor-3741 .elementor-element.elementor-element-21e164e1.elementor-view-default .elementor-icon svg{fill:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-21e164e1 .elementor-icon{font-size:40px;}.elementor-3741 .elementor-element.elementor-element-21e164e1 .elementor-icon svg{height:40px;}.elementor-3741 .elementor-element.elementor-element-716710e7{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-e0d1c83{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-13c3e4e0{text-align:left;}.elementor-3741 .elementor-element.elementor-element-13c3e4e0 .elementor-heading-title{color:#BD9B65;font-size:35px;font-weight:700;text-transform:uppercase;}.elementor-3741 .elementor-element.elementor-element-4a2f482a .elementor-icon-wrapper{text-align:center;}.elementor-3741 .elementor-element.elementor-element-4a2f482a.elementor-view-stacked .elementor-icon{background-color:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-4a2f482a.elementor-view-framed .elementor-icon, .elementor-3741 .elementor-element.elementor-element-4a2f482a.elementor-view-default .elementor-icon{color:#BF9D68;border-color:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-4a2f482a.elementor-view-framed .elementor-icon, .elementor-3741 .elementor-element.elementor-element-4a2f482a.elementor-view-default .elementor-icon svg{fill:#BF9D68;}.elementor-3741 .elementor-element.elementor-element-4a2f482a .elementor-icon{font-size:40px;}.elementor-3741 .elementor-element.elementor-element-4a2f482a .elementor-icon svg{height:40px;}.elementor-3741 .elementor-element.elementor-element-28305385{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-443e1b77{width:var( --container-widget-width, 106.607% );max-width:106.607%;--container-widget-width:106.607%;--container-widget-flex-grow:0;text-align:left;color:#A5A5A5;font-family:"Poppins", Sans-serif;font-size:18px;}.elementor-3741 .elementor-element.elementor-element-443e1b77.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-3741 .elementor-element.elementor-element-2dc50caa{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-2ad1a60{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-3741 .elementor-element.elementor-element-710122d9{--spacer-size:50px;}@media(max-width:767px){.elementor-3741 .elementor-element.elementor-element-562657a2{text-align:center;}.elementor-3741 .elementor-element.elementor-element-562657a2 .elementor-heading-title{font-size:40px;}.elementor-3741 .elementor-element.elementor-element-662c3168{text-align:center;}.elementor-3741 .elementor-element.elementor-element-662c3168 .elementor-heading-title{font-size:25px;}.elementor-3741 .elementor-element.elementor-element-30896d44{text-align:justify;font-size:15px;}.elementor-3741 .elementor-element.elementor-element-1ffec42a{text-align:center;}.elementor-3741 .elementor-element.elementor-element-1ffec42a .elementor-heading-title{font-size:25px;}.elementor-3741 .elementor-element.elementor-element-13c3e4e0{text-align:center;}.elementor-3741 .elementor-element.elementor-element-13c3e4e0 .elementor-heading-title{font-size:25px;}.elementor-3741 .elementor-element.elementor-element-443e1b77{text-align:justify;font-size:15px;}}/* Start custom CSS for icon, class: .elementor-element-47cc7574 */.arrow-hover-widget:hover .elementor-icon svg {
  fill: cyan !important;
  transition: fill 0.3s ease;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-30896d44 */.elementor-widget-text-editor p:last-child{ margin-bottom:0px;}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-21e164e1 */.arrow-hover-widget:hover .elementor-icon svg {
  fill: cyan !important;
  transition: fill 0.3s ease;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-4a2f482a */.arrow-hover-widget:hover .elementor-icon svg {
  fill: cyan !important;
  transition: fill 0.3s ease;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-443e1b77 */.elementor-widget-text-editor p:last-child{ margin-bottom:0px;}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-25c46fdb */.custom-tabs-2 {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #121212; /* dark background */
    border: 10px solid #202020;
}

.custom-tabs-2 .tab-links {
    display: flex;
    margin-bottom: rem; /* consider correcting this line if needed */
    margin: 0px;
    list-style: none;
}

.custom-tabs-2 .tab-link {
    padding: 0.75rem 1.25rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: 1px solid transparent;
}

.custom-tabs-2 .tab-link.active {
    background-color: #202020;
    color: #FFF;
}

.custom-tabs-2 .tab-pane {
    display: none;
    padding-top: 1rem;
}

.custom-tabs-2 .tab-pane.active {
    display: block;
}

.custom-tabs-2 .tab-content-inner {
    display: flex;
    gap: 2rem;
}

.custom-tabs-2 .tab-content-inner > div {
    flex: 1;
}

.custom-tabs-2 .tab-nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.custom-tabs-2 .tab-nav-arrows .arrow {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    padding: 0.75rem;
    background-color: #202020; /* Secondary color */
    border: 2px solid ##BF9D68; /* Primary color border */
    border-radius: 5px; /* Slight rounding for a refined square look */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Hover effect */
.custom-tabs-2 .tab-nav-arrows .arrow:hover {
    background-color: #121212; /* Primary color */
    border-color: #202020; /* Secondary color */
    color: #ffffff; /* Keep the text white */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    transform: translateY(-3px); /* Slight lift effect */
}

/* Focus effect for better accessibility */
.custom-tabs-2 .tab-nav-arrows .arrow:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 110, 114, 0.5);
}



@media (max-width: 768px) {
    .custom-tabs-2 .tab-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .custom-tabs-2 .tab-link {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    .custom-tabs-2 .tab-content-inner {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .custom-tabs-2 .tab-link {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    .custom-tabs-2 .tab-content-inner {
        gap: 0.75rem;
    }
}/* End custom CSS */